<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>User <%= @user_email %> has passed the test</h1>
    <p>All is good!</p>
	<p> Result is <%= @true_count %></p>
	<p> Pecent is <%= sprintf("%.2f", @persent_count) %>% </p>
  </body>
</html>
